*{
  font-family: system-ui;
}

.App {
  font-family: system-ui;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.react-calendar {
  position: absolute;
   width: 250px !important;
}